<template>
    <dropdown classes="mt-6 w-full">
        <template v-slot:trigger>
            <button class="hover:text-blue-500">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 22 19.995">
                <g id="Grupo_758" data-name="Grupo 758" transform="translate(-795.325 -185.117)">
                    <path id="Trazado_270" data-name="Trazado 270" d="M814.861,195.584h-9.642a1,1,0,0,1,0-2h8.893l1.185-4.174H802.59a1,1,0,0,1,0-2h12.862a1.853,1.853,0,0,1,1.494.749,1.878,1.878,0,0,1,.306,1.651l-1.435,5.049A1,1,0,0,1,814.861,195.584Zm.591-6.174h0Z" fill="#fff"/>
                    <path id="Trazado_271" data-name="Trazado 271" d="M815.6,198.584H803.1a1.862,1.862,0,0,1-1.787-1.328l-3.1-10.139h-1.9a1,1,0,0,1,0-2H798.3a1.864,1.864,0,0,1,1.788,1.328l3.1,10.139H815.6a1,1,0,0,1,0,2Zm-17.3-11.467h0Z" fill="#fff"/>
                    <path id="Trazado_272" data-name="Trazado 272" d="M804.208,205.112a2.764,2.764,0,1,1,2.746-2.764A2.759,2.759,0,0,1,804.208,205.112Zm0-3.528a.764.764,0,1,0,.759.764A.762.762,0,0,0,804.208,201.584Z" fill="#fff"/>
                    <path id="Trazado_273" data-name="Trazado 273" d="M813.85,205.112a2.764,2.764,0,1,1,2.747-2.764A2.759,2.759,0,0,1,813.85,205.112Zm0-3.528a.764.764,0,1,0,.759.764A.763.763,0,0,0,813.85,201.584Z" fill="#fff"/>
                </g>
                </svg>
                <span class="absolute bottom-0 bg-red-500 w-6 h-6 flex items-center justify-center text-xs text-white rounded-full">
                    {{products.length}}
                </span>
            </button>
        </template>
        <div class="w-full">
            <p v-if="!products.length" class="text-black py-2 px-2">No hay elementos en el carrito</p>
            <div class="flex mr-1 mx-6 relative" v-for="(product, index) in products">
                <div class="">
                    <img :src="product.img" alt="Producto"
                         class="w-24 h-24 p-1 border">
                </div>
                <div class="ml-2 flex flex-col justify-center text-black">
                    <div class="w-full my-1">
                        <p class="text-sm font-bold">{{product.name}}</p>
                    </div>
                    <div class="w-full my-1">
                        <p class="text-sm font-bold">$ {{product.price}}</p>
                    </div>
                    <button @click="removeItem(index)"
                       class="absolute top-0 right-0 mr-1 mt-1 bg-blue-500 rounded px-1 text-white">
                        &times;
                    </button>
                </div>
            </div>
        </div>
        <button v-if="products.length" class="w-full bg-red-500 px-2 py-2 text-center mt-2">FINALIZAR COMPRA</button>
    </dropdown>
</template>

<script>
    export default {
        name: "Cart",
        data(){
            return {
                products: [],
            }
        },
        mounted(){
            Event.$on('productBuyed', (product) => this.addProduct(product));
        },

        computed: {
            total(){
                let total = 0;
                this.products.forEach((product) => {
                    total += Number(product.price);
                });
                return '$' + total;
            }
        },
        methods: {
            addProduct(product){
                this.products.push(product);
            },

            removeItem(index){
                this.products.splice(index, 1);
            }
        }
    }
</script>

<style scoped>

</style>