<template>
    <nav class="flex items-center justify-between flex-wrap bg-blue-500 p-6 sticky top-0 z-50">
        <div class="absolute sm:static flex items-center flex-shrink-0 text-white mr-6">
            <span class="font-semibold text-xl tracking-tight">Traveler Shop</span>
        </div>
        <div class="w-full max-w-xs">
           <cart class="flex justify-end"></cart>
        </div>
    </nav>

</template>

<script>
    import Cart from './Cart';
    export default {
        components:{
            'cart' : Cart
        }
    }
</script>

<style scoped>

</style>