<template>
    <div class="p-2">
        <div class="max-w-xs justify-center rounded overflow-hidden shadow-lg">
            <div class="w-full relative">
                <img class="w-full" :src="product.img" :alt="product.name">
                <span
                        v-if="!product.available"
                        class="bg-red-500 rounded-full absolute px-2 py-1 text-white text-xs top-0 left-0 mr-1 mt-1">
                      No Disponible
                </span>
                <div
                        v-if="product.best_seller"
                        class="bg-blue-500 rounded-full absolute px-2 py-1 text-white text-xs top-0 right-0 mr-1 mt-1">BEST SELLER</div>
            </div>
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2 flex justify-between">
                    <span>
                         {{product.name}}
                    </span>
                    <span class="text-black">
                        $ {{product.price}}
                    </span>
                </div>
                <p class="text-gray-700 text-base">
                    {{product.description}}
                </p>
            </div>
            <div class="px-6 py-4">
                <span
                        v-for="category in productCategories"
                        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">{{category.name}}</span>
            </div>
            <button class="w-full px-2 py-1 bg-blue-500 text-white" @click="buyProduct">
                COMPRAR
            </button>
        </div>
    </div>

</template>

<script>
    import collect from 'collect.js';
    export default {
        name: "Product",
        props : ['product', 'categories'],
        methods: {
            getCategories(){
                const collection = collect(this.categories);
                let data = collection.whereIn('categori_id', this.product.categories);
                return data.all()
            },

            buyProduct(){
                Event.$emit('productBuyed', this.product);
            }
        },
        computed: {
            productCategories(){
                const collection = collect(this.categories);
                let data = collection.whereIn('categori_id', this.product.categories);
                return data.all()
            }
        },
        mounted(){
            this.getCategories();
        }
    }
</script>

<style scoped>

</style>