<template>
    <div class="mx-auto max-w-6xl w-full flex flex-wrap justify-center">
        <div class="bg-white shadow-lg mx-6 w-full px-8 pt-6 pb-8 mb-6">
            <div class="flex flex-wrap">
                <div class="mb-4 w-1/2">
                    <label class="block text-gray-700 text-sm font-bold mb-2"  for="name">
                        Producto
                    </label>
                    <input v-model="nameFilter"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Product">
                </div>
                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
                        State
                    </label>
                    <div class="relative">
                        <select @change="orderBy" v-model="orderby" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
                            <option value="name">Nombre</option>
                            <option value="minprice">Menor Precio</option>
                            <option value="maxprice">Mayor Precio</option>
                        </select>
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <product v-for="product in filteredProducts" :product="product" :categories="categories" :key="product.id">
        </product>
    </div>
</template>

<script>
    import Product from './Product';
    import collect from 'collect.js';
    export default {
        name: "Products",
        data(){
            return {
                categories: null,
                products: null,
                filteredProducts: null,
                nameFilter: '',
                orderby: null
            }
        },
        watch:{
          nameFilter(){
              this.filterByName();
          }
        },
        mounted(){
            axios.get('/data.json').then(({data}) => {
                console.log(data);
                this.categories = data.categories;
                this.products = data.products;
                this.filteredProducts = data.products;
            });
        },
        methods: {
            filterByName(){
                const collection = collect(this.products);
                let data = collection.where('name', this.nameFilter);
                this.filteredProducts = data.all();
                if(!this.nameFilter){
                    this.filteredProducts = this.products;
                }
            },

            orderBy(){

                let field = this.orderby;
                const collection = collect(this.products);
                if(this.orderby == 'name'){
                    let data = collection.sortBy('name');
                    this.filteredProducts = data.all();
                    alert('entred');
                }else{
                    let data = this.orderby == 'max_price' ? collection.sortByDesc('price') : collection.sortBy('price');
                    this.filteredProducts = data.all();
                }
            }
        },
        components: {
            'product': Product
        }
    }
</script>

<style scoped>

</style>