<template>
  <div id="app">
    <navigation></navigation>
    <products></products>

  </div>
</template>

<script>
  import Nav from './components/Nav';
  import Products from './components/Products';
  import './assets/css/tailwind.css'
export default {
    name: 'app',
    data(){
        return {
            collector: null,
            categories: null,
            products: null,
            cart: null
        }
    },
    components: {
        'navigation': Nav,
        'products' : Products
    },

}
</script>

<style>

</style>
